<%- include('inc/header') %>
<div class="container">
    <div class="colums margin-top-index has-text-centered">
            <h1 class="title">Password Manager</h1>
    </div>
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <div class="field">
                <label for="email" class="label">Email</label>
                <div class="control">
                    <input type="text" class="input" placeholder="Please enter your email">
                </div>
            </div>
            <div class="field">
                <label for="password" class="label">Password</label>
                <div class="control">
                    <input type="password" class="input" placeholder="Please enter your password">
                </div>
            </div>
            <div class="column">
                <a href="#" class="button is-full-width is-success">Login</a>
                <a href="#" class="button is-link is-pulled-right">Register</a>
            </div>        
        </div>
    </div> <!-- columns -->

    <div class="columns is-centered ">
        <div class="column is-three-quarters">
            <a href="#" class="has-text-grey is-pulled-right">Forgotton Password</a>
        </div>
    </div>
</div> <!-- container -->
        

              

<%- include('inc/footer') %>